body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    font-family: 'Dekko', cursive;
    color: #315950;
}
.full-height {
    position: relative;
    height: 100vh;
}
.calculation-box {
    background-color: #d8d8d8;
    max-width: 850px;
    padding: 0 25px;
    margin: 0 auto;
    opacity: 0.95;
    border-radius: 20px;
    border: 1px solid #979797;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.calculation-box a {
    display: block;
    text-align: center;
    margin-bottom: 50px;
}
.calculation-box span,
.user-guess {
    text-align: center;
    font-size: 112px;
}
.calculation-title {
    display: block;
    text-align: center;
    margin-top: 25px;
}
.calculation {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    margin-bottom: 75px;
}
.calculation form {
    display: inline-block;
    position: relative;
}
.calculation button {
    vertical-align: bottom;
}
.calculation button i {
    font-size: 80px;
    color: #4A90E2;
}
.user-guess--border {
    background-color: #4a90e2;
    border-radius: 4px;
    height: 8px;
    width: 170px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.user-guess {
    font-family: 'Patrick Hand SC', cursive;
    width: 170px;
    line-height: 1;
    border: none;
    background-color: transparent;
    color: #4A90E2;
    outline: none;
}
.user-name {
    width: 500px;
}
.user-name--border {
    background-color: #4a90e2;
    border-radius: 4px;
    height: 8px;
    width: 500px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.progress {
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 0;
    border-radius: 7px;
    height: 14px;
}
.progress-bar {
    /* background-image: linear-gradient(to right, red, #f06d06, rgb(255, 255, 0), green); */
    background-color: red
}
.correct {
    opacity: 1;
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
}
.wrong {
    opacity: 1;
    font-size: 24px;
    line-height: 24px;
    color: red;
    margin-top: 30px;
}
.fade {
    opacity: 0;
}
.fas {
    color: #315950;
}
a .fas {
    color: #315950;
    font-size: 7em;
    transition: color 0.25s ease-in-out;

}
a:hover .fas {
    color: #ffbf00;
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.progress-bar.red {
    background-color: red;
}
.progress-bar.orange {
    background-color: orange;
}
.progress-bar.green {
    background-color: yellow;
}
.progress-bar.green {
    background-color: greenyellow;
}
@media only screen and (max-width: 992px) {
    .calculation-box {
        top: 35%;
    }
    .calculation-box span,
    .user-guess {
        font-size: 78px;
    }
    .calculation button i {
        font-size: 55px;
    }
    .user-guess,
    .user-guess--border {
        width: 190px;
    }
    .user-guess--border {
        border-radius: 3px;
        height: 6px;
    }
    .progress {
        bottom: -35px;
    }
}
@media only screen and (max-width: 768px) {
    .calculation-box span,
    .user-guess {
        font-size: 73px;
    }
    .calculation button i {
        font-size: 53px;
    }
    .user-guess,
    .user-guess--border {
        width: 110px;
    }
}
@media only screen and (max-width: 576px) {
    .calculation-box {
        top: 20%;
    }
    .calculation-box span,
    .user-guess {
        font-size: 36px;
    }
    .calculation button i {
        font-size: 26px;
    }
    .calculation {
        margin-bottom: 35px;
    }
    .calculation-title {
        margin-top: 20px;
    }
    .calculation button {
        padding: 2px;
    }
    .user-guess,
    .user-guess--border {
        width: 60px;
    }
    .user-guess--border {
        border-radius: 1px;
        height: 2px;
    }
    .progress {
        height: 10px;
        border-radius: 5px;
        bottom: -30px;
    }
}
