{% extends "base.html" %}
{% block title %}Evina poštevanka{% endblock title %}
{% block specifika %}
    <div class="container">
        <div class="row">
            <div class="col-12 full-height">
                <div class="calculation-box">
                    <span class="calculation-title">Izračunaj</span> {{ counter }}/{{ number }}
                    <div class="calculation">
                        <span>{{ equation }}
                            =
                        </span>
                        <form method="POST" action="/calculation">
                            <input class="user-guess" 
                                type="number"
                                maxlength="3"
                                name="answer"
                                autofocus="autofocus">
                            <input type="hidden" value="{{ equation }}" name="equation">
                            <input type="hidden" value="{{ quotient }}" name="quotient">
                            <input type="hidden" value="{{ today }}" name="today">
                            <input type="hidden" value="{{ todayCorrect }}" name="todayCorrect">
                            <input type="hidden" value="{{ todayWrong }}" name="todayWrong">
                            <input type="hidden" value="{{ multiplying }}" name="multiplying">
                            <input type="hidden" value="{{ dividing }}" name="dividing">
                            <input type="hidden" value="{{ step }}" name="step">
                            <input type="hidden" value="{{ number }}" name="number">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                            </button>
                            <div class="user-guess--border"></div>
                        </form>
                        <div class="{{ style }}" id="fade">{{ note }}</div>
                        
                    </div>
                    <div class="progress">
                        <div
                            class="progress-bar {{ progressColour }}"
                            role="progressbar"
                            style="width:{{ today }}%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock specifika %}